:host {
    display: flex;
    flex-direction: column;
    gap: 10px;
}

.category {
    border: 2px solid #ffd9e1;
    padding: 10px;
    border-radius: 12px;

    .title {
        text-align: center;
        font-size: 18px;
        margin-bottom: 10px;
    }

    .btns {
        display: flex;
        gap: 10px;
    }
}

.full-width {
    width: 100%;
}